.App {
  text-align: center;
  min-height: 100vh;
}

.Fox {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Fox {
    animation: Fox-scale infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Fox-scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.donationSelector {
  font: 2em sans-serif;
  background-image: linear-gradient(lightgray, darkgray);
}

.donationSelector:focus {
}

.donateButton {
  border: "2px gray solid";
  background-color: "gray";
  /* border-top-right-radius: "20px"; */
  padding: "20px";
  background-image: linear-gradient(rgb(40, 89, 109), darkgray);
}
.donateButton:hover {
  background-image: linear-gradient(rgb(127, 219, 255), gray);
}
