body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto Mono", "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(black, rgb(46, 46, 46));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
